@use "sass:math";

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

$font-min: 130%;
$font-max: 190%;
$vp-min: 720px;
$vp-max: 1428px;

html {
    --media-font-size: #{$font-min};
    font-size: var(--media-font-size);
    scroll-behavior: smooth;
    text-size-adjust: 100%;
}

@for $i from 1 through 5 {
    @media (min-width: #{$vp-min + math.div(($vp-max - $vp-min), 4) * ($i - 1)}) {
        html {
            --media-font-size: #{$font-min + math.div(($font-max - $font-min), 4) * ($i - 1)};
        }
    }
}

.uppercase {
    text-transform: uppercase;
}